body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.table td, .table th {
    border-top: none;
}

.table td:not(:first-child) {
    white-space: nowrap;  
}

#totals td {
    text-align: right;
}

th {
    color: #aaa;
}

#totals-wrapper, #buttons-wrapper {
    clear: right;
    width: 300px;
}

#buttons-wrapper {
    margin-bottom: 100px;
}

.table-responsive-sm {
    border-bottom: 2px solid #dee2e6;
}

#add-product-btn, #checkout-btn {
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;    
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

#checkout-btn {
    background-color: #6b6;
}

#checkout-btn:hover {
    background-color: #494;
    cursor: pointer;
}

#checkout-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#add-product-btn {
    background-color: #f2b600;
}

#add-product-btn:hover {
    background-color: #ffc107;
    cursor: pointer;
}

#shopping-cart > tbody > tr > td:last-child, 
#shopping-cart > thead > tr > th:last-child {
    text-align: right;
}

.product-quantity {
    max-width: 200px;
}

.remove-product {
    border: 0;
    background-color: #c66;
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    border-radius: 3px;
}
.remove-product:hover {
    background-color: #a44;
}

#config-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

@media only screen and (max-width : 480px) {

    #totals-wrapper, #buttons-wrapper {
        width: 100%;
        margin: 20px auto;
    }
}
